include ./layout.pug
.member
  nav.header.navbar
    .container-fluid
      h1.col-10 Hello there, #{name}
      form.col-2(method="post" action="/logout")
        button.btn-primary.btn-lg(type='submit') Logout
  .cvs.container-fluid
    .row
      h1.col Your CVs:
    br
    if error
      .alert.alert-danger(role="alert") 
        strong oh snap! 
        | #{error}
    .row
      each file in files
        .col-lg-3.col-sm-8.mr-md-auto.container-fluid
          .card-body.cv
            .card-title
              h3.col Name: #{file.slice(0, -4)}
            .padding
              br
              br
            form.rename-row-padding.rename-row.row.d-none(action="/member/rename-cv/"+file  method="post")
              input.col-10(type="text", name="pdfname")
              button.col-2.btn.btn-outline-light(type='submit')
                span.octicon.octicon-check
            .row.bottom-allign
              form.col-4(action="/member/show-cv/"+file method="post")
                button.btn.btn-outline-light.full-width(type='submit')
                  span.octicon.octicon-eye
              .col-4
                button.rename.btn.btn-outline-light.full-width
                  span.octicon.octicon-pencil
              form.col-4(action="/member/remove-cv/" + file method="post")
                button.btn.btn-outline-light.full-width(type='submit')
                  span.octicon.octicon-trashcan
      if(files.length < 4)
        .col-lg-3.col-sm-8.mr-md-auto.container-fluid
          .card-body.cv
            .row
              h3.col Upload CV:
            form(method="post" action="/member/upload-cv" encType="multipart/form-data")
              .row.name-row-padding
                label.col-4(for="pdfname" value="CV_" + 1) Name:
                input.col-8(type="text", name="pdfname")
              .row
                input.col-9.upload-padding(type="file", name="file")
                button.col-2.btn.btn-outline-light.submit(type='submit')
                  span.octicon.octicon-cloud-upload
  br
  br
  .container-fluid
    .row
      h1.col Send your CVs:
    br
    each rank in ['Gold', 'Silver', 'Bronze']
      .row
        .h2.col #{rank} Sponsors:
      each s in sponsors
        if(s.rank === rank)
          .container-fluid
            .row
              .cv.col-lg-11.col-sm-12.mr-md-auto.container-fluid
                .row
                  .col-lg-2.col-sm-11.color2.mr-md-auto.container-fluid.border-radius
                    div=s.name
                  .col-lg-9.col-sm-11.mr-md-auto.container-fluid.border-radius
                    br
                    h1 Positions:
                    each pos in s.positions
                      .row
                        .color2.col-lg-12.border-radius.cvs
                          .row
                            .col-3
                              div Name: #{pos.name}
                            .col-4
                              div Info: #{pos.info}
                            if pos.cv != undefined
                              .col-5.row
                                .col-8
                                  div Your sent CV: #{pos.cv.slice(0, -4)}
                                .col-4
                                  form(action="/member/remove-sponsor/" + s.username + "/" + pos.name method="post")
                                    button.btn.btn-outline-light.full-width(type='submit')
                                      span.octicon.octicon-trashcan
                            else
                              form.col-5.row(action="/member/add-sponsor/" + s.username + "/" + pos.name method="post")
                                .col-8
                                  label(for="filename") Your CV to send:&nbsp;
                                  select(name="filename")
                                    each file in files
                                      option(value=file) #{file.slice(0, -4)}
                                .col-4
                                  button.btn.btn-outline-light(type='submit')
                                    span.octicon.octicon-check
