include ./layout.pug
.sponsor
  nav.header.navbar
    .container-fluid
      h1.col-11 Hello there, #{name}
      form.col-1(method="post" action="/logout")
        button.btn-primary.btn-lg(type='submit') Logout
  if error
    .alert.alert-danger(role="alert") 
      strong oh snap! 
      | #{error}
  .container.add-position.bg
      form(method="post" action="/add-position")
        br
        h1.row.col Add New Position:
        .form-group.row
          label.col-2(for="name") Name: 
          input.col-9(type="text", name="name")
        .form-group.row
          label.col-2(for="info") Info: 
          input.col-9(type="text", name="info")
        .row.justify-content-center
          button.btn.btn-primary.btn-lg.col-10(type='submit') Add
        br
  .container
    h1.row.col Your Positons:
    for position in positions
      .row.col
        .container.position
          .row.top-margin
            h2.col-4 Name: #{position.name}
            br
            h3.col-7 Info: #{position.info}
            br
            form.col-1(action="/remove-position/" + position.name method="post")
              button.btn.btn-outline-light(type='submit')
                span.octicon.octicon-trashcan
          .row
            .cvs.container
              h3.row.col DoCSoc Member CVs:
              for user in position.users
                .row
                  .cv.container
                    .row
                      .col-5= user.FirstName + ' ' + user.Surname
                      .col-6= user.email
                      .col-1.full-width 
                        form(action="/sponsor-show-cv/" + user.username + "/" + user.cv method="post")
                          button.btn.btn-outline-light.full-width(type='submit')
                            span.octicon.octicon-eye
      br

