#gold.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='gold-tab')
  .container-fluid
    .row.justify-content-center
      .col-lg-8.col-sm-11
        each sponsor in sponsors.filter(s => s.info.rank === 'Gold').sort(function() { return 0.5 - Math.random() })
          .card.mt-4.mb-2
            .card-body
              if(sponsor.info.bespoke)
                img(src="/static/assets/images/icons/gold_bespoke.png" width="150px").bespoke
              .row
                .col-3
                  img(src="/static/assets/images/sponsors/" + sponsor.info.picture width="150px")
                .col-7
                  h2.card-title=sponsor.info.name
                  p.card-text=sponsor.info.description
                  a.card-link(href="mailto:"+sponsor.info.email)=sponsor.info.email
                  if(sponsor.info.link)
                    a.card-link(href=sponsor.info.link) Read More
            ul.list-group.list-group-flush
              if(sponsor.news.length != 0)
                li.list-group-item 
                  a.apply-dropdown(href="#")
                    h3 News (#{sponsor.news.length}) 
                      span.octicon.octicon-chevron-down
                li.list-group-item.apply.d-none
                  each news in sponsor.news
                    .card.mt-2
                      .card-body
                        h4.card-title=news.title
                        p.card-text=news.text
                        a.card-link(href=news.link) Read More
            ul.list-group.list-group-flush
              if(sponsor.positions.length != 0)
                li.list-group-item 
                  a.apply-dropdown(href="#")
                    h3 Opportunities (#{sponsor.news.length}) 
                      span.octicon.octicon-chevron-down
                li.list-group-item.apply.d-none
                  each pos in sponsor.positions
                    .card.mt-2
                      .card-body
                        h4.card-title=pos.name
                        p.card-text Description: #{pos.description}
                        p.card-text Requirements: #{pos.requirements}
                        p
                          a.card-link(href=pos.link) Read More
                      ul.list-group.list-group-flush
                        if(pos.applied)
                          li.list-group-item
                            a.apply-remove(href="#")
                                h4 Remove application 
                                  span.octicon.octicon-trashcan 
                        else
                          li.list-group-item
                            a.apply-dropdown(href="#")
                              h4 Apply 
                                span.octicon.octicon-chevron-down 
                            .container.d-none.apply
                              br
                              form(method="post" action='/member/apply/' + sponsor.username + '/' + pos.name encType="multipart/form-data")
                                .row
                                  h4 Personal Information:
                                .row
                                  p This is how the Sponsor will contact you
                                .row.justify-content-center
                                  label.col-auto(for="email") Your email:
                                  input.col-9(type="text", name="email")
                                br
                                .row
                                  h4 Documents:
                                .row
                                  p Please add all requirements documented above
                                .row
                                  .col-auto
                                    .row.justify-content-center
                                        label.col-auto(for="documentname0") Document Name:
                                        input.col-auto(type="text", name="documentname0")
                                        input.col-5.upload-padding(type="file", name="document0")
                                    for i in [1,2,3,4,5,6,7,8,9]
                                      .row.justify-content-center.d-none
                                        label.col-auto(for="documentname" + i) Document Name:
                                        input.col-auto(type="text", name="documentname" + i)
                                        input.col-5.upload-padding(type="file", name="document" + i)
                                  .col-auto
                                    button.col-auto.btn#show-document
                                      span.octicon.octicon-plus
                                br
                                .row.float-right
                                    button.btn(type='submit') Apply 
                                      span.octicon.octicon-check