#silver.tab-pane.fade(role='tabpanel', aria-labelledby='silver-tab') 
  .container-fluid
    .row.justify-content-center
      .col-lg-8.col-sm-11
        each sponsor in sponsors
          if(sponsor.info.rank === 'Silver')
            .card.mt-2.mb-2
              .card-body
                .row
                  .col-3
                    img(src="/static/assets/images/sponsors/" + sponsor.info.picture width="150px")
                  .col-7
                    h2.card-title=sponsor.info.name
                    p.card-text=sponsor.info.description
                    a.card-link(href=sponsor.info.link) Read More
              ul.list-group.list-group-flush
                if(sponsor.news.length != 0)
                  li.list-group-item 
                    h3 News
                    each news in sponsor.news
                      .card
                        .card-body
                          h4.card-title=news.title
                          p.card-text=news.description
                          a.card-link(href=news.link) Read More
                if(sponsor.positions.length != 0)
                  li.list-group-item
                    h3 Positions
                    each pos in sponsor.positions
                      .card
                        .card-body
                          h4.card-title=pos.name
                          p.card-text=pos.description
                          p.card-text=pos.requirements
                          p
                            a.card-link(href=pos.link) Read More
                        ul.list-group.list-group-flush
                          if(pos.applied)
                            // - Implement Applied
                          else
                            li.list-group-item
                              a#apply-dropdown(href="")
                                h4 Apply 
                                  span.octicon.octicon-chevron-down 
                              .container.d-none#apply
                                br
                                form(method="post" action="'/member/apply/' + sponsor.username + '/' + position.name" encType="multipart/form-data")
                                  .row
                                    h4 Personal Information:
                                  .row
                                    p This is how the Sponsor will contact you
                                  .row.justify-content-center
                                    label.col-auto(for="email") Your email:
                                    input.col-9(type="text", name="email")
                                  br
                                  .row
                                    h4 Documents:
                                  .row
                                    p Please add all requirements documented above
                                  .row
                                    .col-auto
                                      .row.justify-content-center
                                          label.col-auto(for="documentname" + i) Name:
                                          input.col-auto(type="text", name="documentname" + i)
                                          input.col-5.upload-padding(type="file", name="document" + i)
                                      for i in [1,2,3,4,5,6,7,8,9]
                                        .row.justify-content-center.d-none
                                          label.col-auto(for="documentname" + i) Name:
                                          input.col-auto(type="text", name="documentname" + i)
                                          input.col-5.upload-padding(type="file", name="document" + i)
                                    .col-auto
                                      button.col-auto.btn#show-document
                                        span.octicon.octicon-plus
                                  br
                                  .row.float-right
                                      button.btn(type='submit') Apply 
                                        span.octicon.octicon-check