-var klass = (rank === 'gold') ? 'show active' : ''
.tab-pane.fade(id=rank class = klass role='tabpanel', aria-labelledby=rank+'-tab')
  .container-fluid
    .row.justify-content-center
      .col-lg-8.col-sm-11
        each sponsor in sponsors.filter(s => s.info.rank === (rank.charAt(0).toUpperCase() + rank.slice(1))).sort(function(a,b) {if( a.info.bespoke &&  b.info.bespoke) return 0.5 - Math.random(); if( a.info.bespoke && !b.info.bespoke) return -0.9; if(!a.info.bespoke &&  b.info.bespoke) return 0.9; if(!a.info.bespoke && !b.info.bespoke) return 0.5 - Math.random()})
          .card.mt-4.mb-2
            .card-body
              if(sponsor.info.bespoke)
                img(src="/assets/images/icons/"+rank+"_bespoke.png" width="150px").bespoke
              .row
                .col-lg-3.col-sm-2
                  img(src="/assets/images/sponsors/" + sponsor.info.picture width="100%")
                .col-lg-7.col-sm-10
                  h1.card-title=sponsor.info.name
                  if(sponsor.info.description)
                    .card-text.mb-3
                      .show-md!=sponsor.info.description
                      .read-more.d-none
                        button.btn.btn-primary.button(href= ' ') Read more
                  if(sponsor.info.email)
                    a.card-link(href="mailto:"+sponsor.info.email)
                      img(src="/assets/images/icons/apply.svg" width="30px")
                      |  Email
                  if(sponsor.info.link)
                    a.card-link(href=sponsor.info.link)
                      img(src="/assets/images/icons/link.svg" width="30px")
                      |  Link
            if(rank != 'bronze')
              ul.list-group.list-group-flush
                if(sponsor.news.length != 0)
                  li.list-group-item 
                    a.apply-dropdown(href="#")
                      h3 News (#{sponsor.news.length}) 
                        span.octicon.octicon-chevron-down
                  li.list-group-item.apply.d-none
                    each news in sponsor.news.reverse()
                      .card.mt-2
                        .card-body
                          h1.card-title=news.title
                          if(news.link)
                            a(target="_blank" href=news.link)
                              img(src="/assets/images/icons/link.svg" width="30px")
                              |  Link
                          if(news.text)
                            .card-text.mb-3.mt-3
                              .show-md!=news.text
                              .read-more.d-none
                                button.btn.btn-primary.button(href= ' ') Read more
              ul.list-group.list-group-flush
                if(sponsor.positions.length != 0)
                  li.list-group-item 
                    a.apply-dropdown(href="#")
                      h3 Opportunities (#{sponsor.positions.length}) 
                        span.octicon.octicon-chevron-down
                  li.list-group-item.apply.d-none
                    each pos in sponsor.positions.reverse()
                      .card.mt-2
                        .card-body
                          h1.card-title=pos.name
                          if(pos.link)
                            a.card-link(href=pos.link) 
                              img(src="/assets/images/icons/link.svg" width="30px")
                              |  Link
                          if(pos.description)
                            .card-text.mb-3.mt-3
                              .show-md!=pos.description
                              .read-more.d-none
                                button.btn.btn-primary.button(href= ' ') Read more
                        ul.list-group.list-group-flush
                          if(pos.applied)
                            li.list-group-item
                              form.col-1(action="/member/unapply/"+ sponsor.username + '/' + pos.name method="post")
                                button.btn(type='submit')
                                  h4 Remove application 
                                    span.octicon.octicon-trashcan   
                          else
                            li.list-group-item
                              a.apply-dropdown(href="#")
                                h4 Apply 
                                  span.octicon.octicon-chevron-down 
                            li.list-group-item.apply.d-none
                              .container
                                form(method="post" action='/member/apply/' + sponsor.username + '/' + pos.name encType="multipart/form-data")
                                  .row  
                                    .small-font.mb-3 Here you can apply for the position above by giving us some details. 
                                      | Everything you add below will be passed on to the sponsor.
                                  .row
                                    h3 Personal Information:
                                  .row
                                    .small-font This is how the Sponsor will contact you.
                                  .row.justify-content-center.mt-1
                                    label.col-3.small-font(for="email").mt-2 Your email:
                                    input.col-8.small-font.form-control(type="text", name="email", value=email).mt-2
                                  br
                                  .row
                                    h4 Documents:
                                  .row
                                    .small-font Make sure you upload all the requirements listed in the description.
                                  .documents
                                    .row
                                      .col-12
                                        for i in [0,1,2,3,4,5,6,7,8,9]
                                          - var klass = (i === 0 ? '' : 'd-none')
                                          .row.justify-content-start.mb-2.mt-1(class = klass)
                                            label.col.mt-2.small-font(for="documentname" + i) Document Name:
                                            input.form-control.col-4.mt-1(type="text", name="documentname" + i disabled)
                                            label.col-2.mt-2
                                            button.col-lg-2.col-sm-1.btn.mr-2.upload(type='button')
                                              .hide-small Upload 
                                                span.octicon.octicon-cloud-upload
                                                  input.d-none(.d-nonetype="file" name="document" + i)
                                            if(i)
                                              button.col-1.btn.btn-sm(type='button').hide-document
                                                span.octicon.octicon-x
                                            else
                                              .col-1
                                    .row
                                      button.col-auto.btn(type='button').show-document Add Document 
                                        span.octicon.octicon-plus
                                  br
                                  .row.float-right
                                      button.btn(type='submit') Apply 
                                        span.octicon.octicon-check