#info.tab-pane.fade.show(role='tabpanel', aria-labelledby='info-tab' class=(sponsor.info.rank === 'Bronze' ? 'active' : ''))
  .container-fluid
    .row.justify-content-center
      .col-lg-7.col-sm-10.text-center.mb-4
        h3.small-font The following Email, Description and Link will be desplayed under your 
          | company logo and name in the members portal.
    .row.justify-content-center
      .col-lg-8.col-sm-11
        .card
          .card-body
            h2.card-title Edit Your Info:
            form(method="post" action="/sponsor/update-info").live
              .row.mt-2.mb-2
                label.col-lg-3.col-sm-4(for="email") Email: 
                  .subtext (optional)
                input.form-control.col-lg-8.col-sm-7.email(autocomplete='off' placeholder='Email' type="text", name="email", value=sponsor.info.email)
              .row.mt-2.mb-2
                label.col-lg-3.col-sm-4(for="link") Link to learn more: 
                  .subtext (optional)
                input.form-control.col-lg-8.col-sm-7.link(autocomplete='off' placeholder='Link' type="text", name="link", value=sponsor.info.link)
              .row.mt-2.mb-2
                .col-lg-3.col-sm-4
                  label(for="description") Description: 
                    .subtext (optional)
                  .subtext (Works with Markdown. [#[a(target="_blank" href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet") more]])
                textarea.form-control.col-lg-8.col-sm-7.text(autocomplete='off' placeholder='Something about you' type="text", name="description")=sponsor.info.description
              .row.mt-2.mb-2
                .col-12.h4 Live Preview:
                  .subtext (This is what DoCSoc members will see)
                .col-12
                  .card.mt-4.mb-2.preview
                    .card-body.preview
                      if(sponsor.info.bespoke)
                        img(src="/assets/images/icons/"+sponsor.info.rank.toLowerCase()+"_bespoke.png" width="150px").bespoke
                      .row
                        .col-lg-3.col-sm-2
                          img(src="/assets/images/sponsors/" + sponsor.info.picture width="100%")
                        .col-lg-7.col-sm-10
                          h1.card-title=sponsor.info.name
                          .card-text.story.mb-3.preview-text.render-md(value=sponsor.info.description)
                          - var emailhref = (sponsor.info.email) ? "mailto:"+sponsor.info.email : ""
                            a(target="_blank" href=emailhref).card-link.preview-email
                              if sponsor.info.email
                                img(src="/assets/images/icons/apply.svg" width="30px") 
                                |  Email
                          - var linkhref = (sponsor.info.link) ? "mailto:"+sponsor.info.link : ""
                            a(target="_blank" href=linkhref).card-link.preview-link 
                              if sponsor.info.link
                                img(src="/assets/images/icons/link.svg" width="30px") 
                                |  Link
              .row.justify-content-center.mt-2.mb-2
                button.btn.btn-primary.btn-lg.col-10(type='submit') Save
    .row.justify-content-center.mt-3
      .col-lg-8.col-sm-11
        .card
          .card-body
            h2.card-title Change Password:
            form(method="post" action="/sponsor/change-password")
              .row.mt-2.mb-2
                label.col-lg-3.col-sm-4(for="old") Old Password: 
                input.form-control.col-lg-8.col-sm-7(type="password", name="old")
              .row.mt-2.mb-2
                label.col-lg-3.col-sm-4(for="new") New Password: 
                input.form-control.col-lg-8.col-sm-7(type="password", name="new")
              .row.mt-2.mb-2
                label.col-lg-3.col-sm-4(for="new2") One more time: 
                input.form-control.col-lg-8.col-sm-7(type="password", name="new2")
              .row.justify-content-center.mt-2.mb-2
                button.btn.btn-primary.btn-lg.col-10(type='submit') Change
